default: &default
  encoding: utf8
  adapter: mysql2
  port: 3306

development:
  <<: *default
  host:
  username:
  password:
  database: trends_production

test:
  <<: *default
  host: localhost
  username:
  password:
  database: trends_test
