default: &default
  encoding: utf8
  adapter: mysql2
  port: 3306

development:
  <<: *default
  database: tc_prod
  host:
  username:
  password:

test:
  <<: *default
  host: localhost
  username:
  password:
  database: tunecore_production
