@import "bootstrap";

nav.navbar {
  margin-bottom: 50px;
}

.navbar-brand > img {
  margin-left: 20px;
  width: 120px;
  height: 21px;
}

.aggregation-form,
.exclusions-form,
.exclusion-pagination-top, {
  margin-top: 20px;
}

.period-select {
  width: 100%;
}

.log-table {
  margin-top: 20px;
  table-layout: fixed;
}

.log-item {
  font-family: Courier;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.log-nav {
  text-align: right;
}

.log-arrow {
  margin-right: 15px;
  color: #fff;
}

.log-arrow:hover {
  color: #fff;
}

.delete-icon {
  background-image: image-url("delete.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 20px;
  display: block;
}
