<div class="row">
  <div class="col-xs-12">
    <h2>Log Files</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <% @log_rows.keys.each do |day| %>
      <table class="log-table table table-striped">
        <thead class="thead-inverse">
          <tr><th><%= day %></th></tr>
        </thead>
        <tbody>
          <% @log_rows[day].each do |row| %>
            <tr><td class="log-item"><%= row.chomp %></td></th>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
