<nav class="main-nav navbar navbar-dark bg-inverse">
  <%= link_to image_tag("logo_tc@2x.png"), root_path, class: "navbar-brand" %>
  <ul class="nav navbar-nav">
    <li class="nav-item"><%= link_to "Aggregate", new_aggregation_path, class: "nav-link #{active_class(new_aggregation_path)}" %></li>
    <li class="nav-item"><a class="nav-link" href="/resque">Scheduler</a></li>
    <li class="nav-item"><%= link_to "Logs", logs_path, class: "nav-link #{active_class(logs_path)}" %></li>
    <!-- <li class="nav-item"><a class="nav-link" href="#">Exclude List</a></li> -->
  </ul>
</nav>
